 *{
	    	margin: 0;
	    	padding: 0;
	    	border: none;
	    }
	    body{
	    	height: 1300px; 
	    }
	    .header{
	    	width: 100%;
	    	height: 58px;
	    	background-color: #191d3a;
	    }
	    .inner_c{
	    	width: 1000px;
	    	margin: 0 auto;

	    }
	    .header .logo{
            float: left;
            height: 10px;
            width: 15px;
            margin-top: 10px;
            margin-left: 50px;
	    }
	    .header .nav{
            width: 517px;
            overflow: hidden;  
            line-height: 58px;
            float: left;
            margin-left: 150px; 
 
	    }
	     .header .nav ul{
	    	list-style: none;
	    }
	    .header .nav ul li{
	    	float: left;
	    	width: 85px;
	    	border-right: 1px solid #252947;
	    	text-align: center;
	    }
	    .header .nav ul li.first{
	    	border-left: 1px solid #252947;
	    } 
	    .header .nav ul li a{
	    	display: block;
	    	font: 14px/58px "微软雅黑";
	    	color: #818496; 
	    	text-decoration: none;
	    }
	    .header .nav ul li a:hover{
	    	color: #e2e4e2;
	    	background-color: #252947s
	    }
	    .header .nav ul li a.current{
	    	color: #e2e4e2;
	    	background-color: #252947
	    }
	    .header .jrwm{
	    	float: left;
	    	line-height: 58px;
	    	margin-left: 138px;
	    	padding-top: 12px; 
	    }
	    .banner{
	    	width: 100%;
	    	height: 460px;
	    	position: relative;
		    overflow: hidden;
		    cursor: pointer;
		    margin: 0px auto;
		    top: -12px;
	    }
        .banner .slider{
			width: 100%;
			height: 100%;
		}
		.banner .slider ul{
			width: 1000%;
			list-style: none;
			position: absolute;
			top: 0;
			left: 0;
		}
		.banner .slider img{
			vertical-align: top;

		}
		.banner .slider ul li{
			float: left;
		}
		.banner .scroll_nav{
			list-style: none;
			position: absolute;
			right: 50%;
			bottom: 10px;
		}
		.banner .scroll_nav li{
			float: left;
			width: 20px;
			height: 20px;
			background-color: #8f8c97;
			color: #000;
			text-align: center;
			font-size: 12px;
			font-family: "微软雅黑";
		    line-height: 20px;
			cursor: pointer;
			border-radius: 50%;
			margin-right: 5px;
		}
		.banner .scroll_nav li.current{
			background-color: #fff;
		}
	    .content{
	    	margin-top: 50px;
	    }
	    .content .shows{
            height: 219px;
            border-bottom: 1px solid #dbe1e7;
	    }
	    .content .shows ul{
	    	list-style: none;
	    }
	    .content .shows ul li{
	    	float: left;
	    	width: 218px;
	    	height: 229px;
	    	margin-right: 43px;
	    	text-align: center;
	    }
	    .content .shows ul li.last{
	    	width: 217px;
	    	margin-right: 0;
	    }
	    .content .shows ul li p img{
	    	width: 218px;
	    	height: 128px;
	    }
	    .content .shows ul li h3{
	    	font: 14px/30px "微软雅黑";
	    	font-weight: bold;
	    	color: #444866
	    }
	    .content .shows ul li p.djbf a{
	    	font: 12px/29px "微软雅黑";
	    	color: #38b774;
	    	text-decoration: none;
	    	background: url(image/000.jpg) no-repeat right center;
	    	padding-right: 10px;
	    }
	    .content .mian{
	    	margin-top: 52px;
	    }
	    .content .main .news{
	    	widows: 480px;
	    	height: 200px;
	    	background: url(image/1818.jpg) no-repeat 0px -10px;
	    	padding-top: 70px;
	    	padding-left: 20px;
	    	float: left;
	    	position: relative;
	    	font: 14px/49px"微软雅黑";
	    }
	    
	    .foot{
	    	width: 100%;
	    	height: 155px;
	    	background-color: #191d3a;
	    	position: relative;
	    	clear: both;
	    }
	    .foot .fir{
	    	width: 1000px;
			margin: 0 auto;
			padding-top: 20px;
	    }
	    .foot .fir p{
			font-size: 12px;
			font-family: "微软雅黑";
			color: #aaa; 
			margin-bottom: 30px; 
		}   
		
		.foot .blog img{
			width: 36px;
			height: 50px;
			position: absolute;
			right: 25px;
			bottom: 10px;
		}